.register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1140px;
    height: 85vh;
    margin: 0 auto;
}

.register form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
}



.form-section {
    position: relative;
    margin-bottom: 35px;
}

