.header {
    height: 15vh;
    border-bottom: 2px #2D9CDB solid;
}

.header .container, .header .row {
    height: 100%;
}

.nav {
    width: 305px;
    height: 32px;
}

.nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 400;
    transition-duration: .25s;
}

.nav ul li a:hover {
    color: #2D9CDB;
}

.nav ul {
    
    list-style-type: none;
}


.logo a {
    width: 260px;
    color: black;
    text-decoration: none;
}

.logo h2 {
    font-weight: 300;
}

